<a href="/usuarios/postagens/add" class="mt-4"><button class="btn btn-success">Nova Postagem</button></a>
{{#each postagens}}
{{postagens}}
<div class="card mt-4">
    <div class="card-body ">
        <h5>Categoria:{{#if categoria}} {{categoria.nome}}{{else}} Nenhuma Categoria {{/if}}</h5>
        <h1>{{titulo}}</h1>
        <h3>{{detalhes}}</h3>
        <p>{{conteudo}}</p>
        <small>{{data}}</small><br>
        <small>Slug: {{slug}}</small>
        <br>
        
    </div>
</div>

{{else}}
        <h1>Não há nenhuma postagem. Registre alguma :)</h1>
{{/each}}





